# Dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/
dist-ssr/
**/dist-ssr/
build/
**/build/

# Cache & Temp
.cache/
**/.cache/
.vite/
**/.vite/
.vite-temp/
**/.vite-temp/
.tmp/
**/.tmp/
coverage/
**/coverage/

# Logs
*.log
logs/
**/logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment & Local files
.env
.env.local
.env.*.local
*.local

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
.DS_Store
Thumbs.db
